/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (prefers-color-scheme: light) {
    ::backdrop, :root {
      --accent-bg: WhiteSmoke;
    }
}

.tweet .row {
  display: flex;
  align-items: center;
}

.tweet .row>* {
  margin-right:.5rem;
}

.tweet .row>a:first-of-type {
  margin-left:auto;
}

.tweet {
  background:var(--accent-bg);
  border:1px solid var(--border);
  border-radius:5px;
  padding:1rem;
  margin:1rem 0;
}

.tweet > p {
  padding:.5rem;
  border:1px solid var(--border);
  border-radius:var(--standard-border-radius);
  margin:0 0 1rem 0;
}

textarea {
  resize: none;
  line-height:1.5;
}

/*@media only screen and (max-width:720px) {
  .tweet .row>input:first-of-type:has(~a) {
  }
}*/
